@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1632206118152') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e60a";
}

.icon-qq:before {
  content: "\e62e";
}

.icon-biaoqian:before {
  content: "\e67e";
}

.icon-fenlei:before {
  content: "\e669";
}

.icon-guidang:before {
  content: "\e63e";
}

.icon-guanyuwomen:before {
  content: "\e659";
}

.icon-github:before {
  content: "\e638";
}

.icon-bilibili-fill:before {
  content: "\e646";
}

.icon-xiugaimima:before {
  content: "\e69e";
}

.icon-shouye:before {
  content: "\e60b";
}

