<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.zyz.blogadmin.dao.mapper.LogMapper">
    <select id="listLog" resultType="com.zyz.blogadmin.dao.po.Log">
        SELECT
        bl.id,
        bl.ip,
        bl.create_date,
        bl.module,
        bl.operation,
        bl.time
        FROM blog_log bl
        <where>
            <if test="createStartDate!=null">
                and bl.create_date  <![CDATA[ >= ]]>  #{createStartDate}
            </if>
            <if test="createEndDate!=null">
                and bl.create_date <![CDATA[ <= ]]> #{createEndDate}
            </if>
        </where>
        order by bl.create_date desc
    </select>
</mapper>
