<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>youki博客管理后台</title>
    <meta name="description" content="youki博客管理后台">
    <meta name="keywords" content="youki博客管理后台">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- Theme included stylesheets -->
    <link href="../plugins/quill/quill.snow.css" rel="stylesheet">
    <link href="../plugins/quill/quill.bubble.css" rel="stylesheet">
    <!-- Core build with no theme, formatting, non-essential modules -->
    <link href="../plugins/quill/quill.core.css" rel="stylesheet">
    <!-- Main Quill library -->
    <script src="../plugins/quill/quill.js"></script>
    <!--        <script src="../plugins/quill/quill.core.js"></script>-->
</head>
<body class="hold-transition">
<div id="app">

    <div class="content-header">
        <h1>博客管理<small>分类管理</small></h1>
    </div>

    <div class="app-container">
        <div class="box">

            <div class="filter-container">
                <el-input placeholder="文章名称" v-model="pagination.articleTitle" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-input placeholder="评论人账号" v-model="pagination.authorAccount" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-button @click="findSearchPage()" class="dalfBut">查询</el-button>
            </div>

            <el-table size="small"
                      ref="commentListTable"
                      current-row-key="id"
                      :data="dataList"
                      @selection-change="handleSelectionChange"
                      stripe highlight-current-row>
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column align="center" label="序号">
                    <template slot-scope="scope">
                        <span>{{(pagination.currentPage - 1) * pagination.pageSize + scope.$index + 1}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="编号" align="center" prop="id">
                </el-table-column>
                <el-table-column label="评论人账号" align="center" prop="authorAccount">
                </el-table-column>
                <el-table-column label="评论人昵称" align="center" prop="authorNickName">
                </el-table-column>
                <el-table-column label="文章标题" align="center" prop="articleTitle">
                </el-table-column>
                <el-table-column label="评论时间" align="center" prop="createDate">
                </el-table-column>
                <el-table-column label="评论内容" align="center" prop="content">
                </el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div style="margin-top: 20px">
                <el-button v-show="multipleSelectionFlag==true" @click="toggleSelection()">取消选择</el-button>
                <el-button type="danger" v-show="multipleSelectionFlag==true" @click="multipleDelete()">批量删除</el-button>
            </div>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-sizes="[5, 10, 15, 20]"
                        :page-size="pagination.pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>

        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script src="../plugins/quill/vue-quill-editor.js"></script>
<script>

    var vue = new Vue({
        el: '#app',
        data: {
            activeName: 'first',
            editorOption: {
                theme: 'snow',
                boundary: document.body,
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],
                        ['blockquote', 'code-block'],
                        [{'header': 1}, {'header': 2}],
                        [{'list': 'ordered'}, {'list': 'bullet'}],
                        [{'script': 'sub'}, {'script': 'super'}],
                        [{'indent': '-1'}, {'indent': '+1'}],
                        [{'direction': 'rtl'}],
                        [{'size': ['small', false, 'large', 'huge']}],
                        [{'header': [1, 2, 3, 4, 5, 6, false]}],
                        [{'color': []}, {'background': []}],
                        [{'font': []}],
                        [{'align': []}],
                        ['clean'],
                        ['link', 'image', 'video']
                    ]
                },
                placeholder: 'Insert text here ...',
                readOnly: false
            },
            //分页相关模型数据
            pagination: {
                currentPage: 1,//当前页码
                pageSize: 5,//每页显示的记录数
                total: 0,//总记录数
                articleTitle: null,//查询条件
                authorAccount: null//查询条件
            },
            //当前页要展示的分页列表数据
            dataList: [],
            subjectList: [],
            tableData: {},
            fbChoiceList: [{
                content: "",
            }],
            //表单数据
            formData: {},
            dialogFormVisible: false,//增加表单是否可见
            dialogFormVisibleEdit: false,
            //校验规则
            rules: {
                name: [{required: true, message: '必填项', trigger: 'blur'}],
            },
            //多选框
            multipleSelection: [],
            //多选标志
            multipleSelectionFlag: false
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage();
        },
        methods: {
            handleAvatarSuccess() {

            },
            beforeAvatarUpload() {

            },
            //查询
            findSearchPage() {
                this.pagination.currentPage = 1;
                this.findPage();
            },
            //分页查询
            findPage() {
                axios.post("/blogadmin/comment/commentList", this.pagination).then((res) => {
                    if (res.data.success) {
                        this.dataList = res.data.data.list;
                        this.pagination.total = res.data.data.total;
                    } else {
                        this.$message({
                            message: res.data.msg,
                            type: 'error'
                        });
                    }
                }).catch((error) => {
                    if (error == "Error: Request failed with status code 403") {
                        this.$message.error("无操作权限");
                    }
                });
            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            //切换页面大小
            handleSizeChange(pageSize) {
                this.pagination.pageSize = pageSize;
                this.findPage();
            },
            // 重置表单
            resetForm() {
                this.formData = {};
                this.subjects = [];
                this.tableData = {};
            },
            //多选
            handleSelectionChange(val) {
                this.multipleSelection = val;
                this.multipleSelectionFlag = true;
                if (this.multipleSelection.length == 0) {
                    // 如不进行判断则勾选完毕后批量删除按钮还是会在
                    this.multipleSelectionFlag = false;
                }
            },
            //取消多选
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.commentListTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.commentListTable.clearSelection();
                }
                console.log(this.multipleSelection)
            },
            //批量删除
            multipleDelete() {
                let checkArr = this.multipleSelection;   // multipleSelection存储了勾选到的数据
                let ids = [];
                let that = this;
                checkArr.forEach(function (item) {
                    ids.push(item.id);       // 添加所有需要删除数据的id到一个数组，post提交过去
                });
                this.$confirm('此操作将永久删除这些平了, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.post("/blogadmin/comment/delete/commentList" ,ids).then((res) => {
                        if (res.data.success) {
                            this.$message.success("删除成功");
                            this.findPage();
                        } else {
                            this.$message.success(res.data.msg);
                            this.findPage();
                        }
                    }).catch((error) => {
                        if (error == "Error: Request failed with status code 403") {
                            this.$message.error("无操作权限");
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消注销'
                    });
                });
            },
            //单个评论删除
            handleDelete(row) {
                this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get("/blogadmin/comment/delete/" + row.id).then((res) => {
                        if (res.data.success) {
                            this.$message.success("删除成功");
                            this.findPage();
                        } else {
                            this.$message({
                                message: res.data.msg,
                                type: 'error'
                            });
                        }
                    }).catch((error) => {
                        if (error == "Error: Request failed with status code 403") {
                            this.$message.error("无操作权限");
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }
        }
    });
    Vue.use(window.VueQuillEditor);
</script>
</html>
